<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h2>Restaurant Record App</h2>
        <div class="d-flex">
            <button 
             type="button"
             (click)="changeButton()"
             class="btn btn-success" 
             data-bs-toggle="modal"
             data-bs-target="#exampleModal">Add Restaurant</button>
        </div>
    </div>
</nav>

<div class="bg-light rounded-3 p-5">
    <div class="container-fluid py-5">
        <h1 class="display-s fw-bold">Restaurant Records Management</h1>
        <p class="col-md-8 fs-4">
            You can save records of Restaurant using 
        </p>
        <button class="btn btn-secondary btn-lg">Save</button>
    </div>
</div>


    <!-- Display table here -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col"> Restaurant Id</th>
                <th scope="col"> Name</th>
                <th scope="col"> Email</th>
                <th scope="col"> Mobile</th>
                <th scope="col"> Address</th>
                <th scope="col"> Service</th>
                <th scope="col"> Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let res of allRestaurantData">
                <td>{{res.id}}</td>
                <td>{{res.name}}</td>
                <td>{{res.email}}</td>
                <td>{{res.mobile}}</td>
                <td>{{res.address}}</td>
                <td>{{res.service}}</td>
                <td>
                    <button 
                        (click)="onEdit(res)"
                        type="button"
                        class="btn btn-success me-3"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Edit</button>
                    <button (click)="deleteRestaurant(res)" class="btn btn-danger">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Restaurant Record</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input formControlName="name" type="text" class="form-control" id="name" >
                  </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="mobile" class="form-label">Mobile</label>
                  <input formControlName="mobile" type="text" class="form-control" id="mobile">
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input formControlName="address" type="text" class="form-control" id="address">
                  </div>
                  <div class="mb-3">
                    <label for="service" class="form-label">Service</label>
                    <input formControlName="service" type="text" class="form-control" id="service">
                  </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button
            *ngIf="isAddClicked" 
            (click)="addRestaurant()" 
            type="button"
            class="btn btn-primary">Add</button>

          <button 
            *ngIf="isUpdateClicked"
            (click)="updateRestaurant()" 
            type="button" 
            class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>
  